.header{
    background-color: aquamarine;
}

.fuente-header{
    font-size: 30px;
}

.dropdown-menu{
    background-color: rgb(58, 247, 184);
    border-color: transparent;
}

.dropdown-menu-item:hover{
    background-color: aquamarine;
}

a{
    text-decoration: none;
}